---
version: "3.7"

x-app-defaults: &appDefaults
  build:
    context: docker/stolon-development
  depends_on:
    - sentinel

services:
  etcd-store:
    image: quay.io/coreos/etcd:v3.2.17
    restart: on-failure
    entrypoint:
      - etcd
    command:
      - --data-dir=/data
      - --listen-client-urls=http://0.0.0.0:2379
      - --advertise-client-urls=http://0.0.0.0:2379
    volumes:
      - etcd-store-data:/data
    ports:
      - "2379:2379"
    networks:
      default:
        aliases:
          - etcd-store

  sentinel:
    build:
      context: docker/stolon-development
    restart: on-failure
    depends_on:
      - etcd-store
    entrypoint:
      - /usr/local/bin/stolon-sentinel
      - --cluster-name=main
      - --store-backend=etcdv3
      - --store-endpoints=etcd-store:2379

  pgbouncer:
    hostname: pgbouncer
    build:
      context: docker/stolon-development
    restart: on-failure
    user: postgres
    entrypoint:
      - /stolon-pgbouncer/bin/stolon-pgbouncer.linux_amd64
      - supervise
      - --enable-child-process
      - --pgbouncer-config-template-file=/stolon-pgbouncer/docker/stolon-development/pgbouncer/pgbouncer.ini.template
    volumes:
      - .:/stolon-pgbouncer
    ports:
      - "6432:6432"
    depends_on:
      - keeper0
      - keeper1
      - keeper2

  keeper0:
    hostname: keeper0
    build:
      context: docker/stolon-development
    restart: on-failure
    volumes:
      - keeper0-data:/data
      - .:/stolon-pgbouncer
    depends_on:
      - sentinel

  keeper1:
    hostname: keeper1
    build:
      context: docker/stolon-development
    restart: on-failure
    volumes:
      - keeper1-data:/data
      - .:/stolon-pgbouncer
    depends_on:
      - sentinel

  keeper2:
    hostname: keeper2
    build:
      context: docker/stolon-development
    restart: on-failure
    volumes:
      - keeper2-data:/data
      - .:/stolon-pgbouncer
    depends_on:
      - sentinel

# Persist etcd and keeper data across docker restarts. This enables our cluster
# to outlive killing our containers, as the keepers otherwise complain that
# their data went missing.
volumes:
  etcd-store-data:
  keeper0-data:
  keeper1-data:
  keeper2-data:

networks:
  default:
    driver: bridge
